<div class="page-content">
    <div>
        <form name="registerForm">
            <fieldset>
                <legend> Registracija novog očitavača</legend>

                <div class="form-group">
                    <label for="displayName">Ime i prezime</label>
                    <input type="text" ng-model="users.newUser.displayName" id="displayName" name="username" class="form-control" required focus>
                </div>
                <div class="form-group">
                    <label for="username"> Korisničko ime </label>
                    <input type="text" ng-model="users.newUser.username" id="username" name="username" class="form-control" required        >
                </div>
                <div class="form-group">
                    <label for="password"> Lozinka </label>
                    <input type="text" ng-model="users.newUser.password" id="password" name="password" class="form-control" required>
                </div>

                <div ng-click="users.addUser()" ng-disabled="registerForm.$invalid" class="width-35 pull-right btn btn-sm btn-primary">Registruj očitavača</div>
        </form>
       
        <h3>Spisak očitavača</h3>
        <table class="table table-bordered table-hover table-condensed">
            <tr>
                <th>Obriši</th>
                <th>Ime i prezime</th>
                <th>Korisničko ime</th>
            </tr>
              <tr ng-repeat="u in users.usersList">
            <td style="text-align:center;width:10%">
                <a href ng-really-message="Jeste li sigurni?" 
                   ng-really-click="users.deleteUser(u.id)"><i class="fa fa-minus-circle"></i></a></td>
            <td style="text-align:left;width:40%">{{u.display_name}}</td>
            <td style="text-align:left;width:50%">{{u.username}}</td>
        </tr>
            
        </table>
    </div>
</div>