<div class="page-content">
    <button ng-click="currentReadings.getOcitanja()" class="btn btn-primary">Prikaži očitanja</button>
    <button ng-click="currentReadings.downloadOcitanja()" class="btn btn-primary">Preuzmi očitanja u tekstualnu datoteku</button>
    <h4>Filter</h4>
    Upišite šifru zone : <input type="text" ng-model="currentReadings.search.attributes.sifraZone" />
    Upišite šifru vodomera : <input type="text" ng-model="currentReadings.search.attributes.sifraVodomjera" />
    <hr>
    <table class="row-border hover" ng-show="ocitanja.length>0">
        <thead>
            <tr>
            <th>R. br.</th>                
                <th>Šifra zone</th>
                <th>Naziv zone</th>
                <th>Šifra vodomjerila</th>
                <th>Naziv korisnika</th>
                <th>Prethodno stanje</th>                
                <th>Datum i vrijeme očitanja</th>
                <th>Očitano</th>
                <th>Poruka</th>
                <th>Novo očitanje</th> 
                <th>Razlika</th>
            </tr>
        </thead>
        <tr ng-repeat="o in (filteredOcitanja = (ocitanja | filter:search))">
            <td style="text-align:right;width:5%">{{$index+1}}</td>
            <td style="text-align:center;width:5%" ng-style="set_color(o.attributes.novoOcitanje)">{{o.attributes.sifraZone}}</td>
            <td style="width:40%" ng-style="set_color(o.attributes.novoOcitanje)">{{o.attributes.nazivZone}}</td>
            <td style="width:10%" ng-style="set_color(o.attributes.novoOcitanje)">{{o.attributes.sifraVodomjera}}</td>
            <td style="width:10%" ng-style="set_color(o.attributes.novoOcitanje)">{{o.attributes.nazivKorisnika}}</td>
            <td style="width:10%;text-align:right" ng-style="set_color(o.attributes.novoOcitanje)">{{o.attributes.zadnjeStanjeBrojila | number}}</td>
            <td style="width:10%" ng-style="set_color(o.attributes.novoOcitanje)">{{o.attributes.datumOcitanja | stringToDateTime }}</td>
            <td style="width:10%" ng-style="set_color(o.attributes.novoOcitanje)">{{o.attributes.isRead}}</td>
            <td style="width:10%" ng-style="set_color(o.attributes.novoOcitanje)">{{o.attributes.note}}</td>

            <td style="text-align:right;width:10%" ng-style="set_color(o.attributes.novoOcitanje)">{{o.attributes.novoOcitanje | number}}</td> 
            <td style="text-align:right;width:10%" ng-style="set_color(o.attributes.novoOcitanje)">{{o.attributes.novoOcitanje -o.attributes.zadnjeStanjeBrojila | number}}</td>
        </tr>
        <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
         <td style="width:10%;text-align:right"><b>{{calculateTotalPrethodno() | number}}</b></td>
        <td></td>
            <td></td>
            <td></td>          
        <td style="width:10%;text-align:right"><b>{{calculateTotalNovo() | number}}</b></td>
         <td style="width:10%;text-align:right"><b>{{(calculateTotalNovo() -calculateTotalPrethodno()) | number}}</b></td>
        </tr>
          
    </table>

</div>