<div class="page-content">
   <!-- <h4>Prije slanja na očitavanje <b>obavezno</b> povežite očitavače sa šiframa ulica na <a href="#/streets-users">Dodjela ulica očitavačima</a></h4>-->
    <div class="container">
        <div class="row">
            <form action="/Ocitanja/Home/Upload" enctype="multipart/form-data" method="post" class="form-inline" role="form">   
                <fieldset>
                    <legend>Odaberite datoteku -> Prikažite podatke -> Pošaljite na očitavanje</legend>  
                    <div class="form-group">
                        <span><label for="sifraUlice">Odaberite datoteku: </label>
                            <input type="file" name="file" accept="text/plain" required/></span> 
                    </div>   
                     <div class="form-group">
                        <label for="prikazi">Prikažite podatke iz datoteke: </label>
                        <div class="btn btn-primary" id="prikazi">Prikaži podatke</div>
                    </div>   
                    <div class="form-group">
                        <label for="posalji">Pošaljite na očitavanje: </label>
                        <div class="btn btn-primary" id="posalji">Pošalji na očitavanje</div>
                    </div>  
                 
                </fieldset>
            </form> 

        </div>
    </div> 
   <br>
    <div>
        <table id="ocitanja" class="table table-bordered table-hover table-condensed" cellspacing="0">
            <thead>
                <tr>
                    <th>Šifra zone</th>
                    <th>Naziv zone</th>
                    <th>Šifra vodomjera</th>
                    <th>Korisnik</th>
                    <th>Šifra ulice</th>
                    <th>Naziv Ulice</th>
                    <th>Kučni br.</th>
                    <th>Broj ulaza</th>
                    <th>Serijski br.</th>
                    <th>Način očitanja</th>
                    <th>Tip očitanja</th>
                    <th>Broj modula</th>
                    <th>Datum zadnjeg očitanja</th>
                    <th>Zadnje stanje brojila</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>