<div class="page-content">
    <form name="registerForm" class="form-inline">
        <fieldset>
            <legend>    Povezite šifru ulice sa korisničkim imenom osobe koja očitava ulicu</legend>
            <div class="form-group">
                <label for="sifraUlice">Šifra ulice: </label>
                <input type="text" ng-model="streetsUsers.street.sifraUlice" id="sifraUlice"  class="form-control" name="sifraUlice" required focus>
            </div>
            <div class="form-group">
                <label for="selectedUserId">Očitavač:</label>
                <select name="selectedUserId" ng-model="streetsUsers.selectedUserId" class="form-control">
                    <option ng-repeat="u in streetsUsers.usersList track by u.id" value="{{u.id}}">{{u.display_name}} ({{u.username}})</option>
                </select> 
            </div>
            <div ng-click="streetsUsers.add();"  ng-disabled="registerForm.$invalid" class="btn btn-primary">Dodaj vezu očitavača i ulice</div>
        </fieldset>
    </form>
    <br>
    {{streetsUsers.selectedUserId}}
    <table ng-show="streetsUsers.streets.length > 0" class="table table-bordered table-hover table-condensed">
        <tr>
            <th>Obriši vezu</th>
            <th>Šifra ulice</th>
            <th>Korisničko ime očitavača</th>
        </tr>
        <tr ng-repeat="s in streetsUsers.streets">
            <td style="text-align:center;width:10%">
                <a href ng-really-message="Jeste li sigurni?" 
                   ng-really-click="streetsUsers.delete(s.id)"><i class="fa fa-minus-circle"></i></a></td>
            <td style="text-align:left;width:40%">{{s.sifraUlice}}</td>
            <td style="text-align:left;width:50%">{{s.username}}</td>
        </tr>
    </table>
</div>