<div class="page-content">
    <div class="row">
        <div class="space-6"></div>
        <div class="col-sm-6 col-sm-offset-1">
            <div id="login-box" class="login-box visible widget-box no-border">
                <div class="widget-body">
                    <div class="widget-main">
                       
                        <form name="signupForm" class="form-horizontal" role="form">
                              <fieldset>
                                <legend>   Registracija korisnika</legend>
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="displayname">Ime i prezime:</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                        <input type="text" class="form-control"  name="displayname" ng-model="register.user.displayname" focus required/>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="username">Korisničko ime:</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                        <input type="text" class="form-control"  name="username" ng-model="register.user.username" required/>

                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="password">Lozinka:</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                        <input type="password" class="form-control" name = "password" ng-model="register.user.password" required/>
                                        <!--<small class="errorMessage" data-ng-show="signupForm.password.$dirty && signupForm.password.$invalid"> Unesite lozinku.</small>-->
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="lbl col-sm-5"> </span>
                                <div class="col-sm-7">
                                    <button type="submit" class="width-35 pull-right btn btn-sm btn-primary" ng-click="register.register(register.user)" data-ng-disabled="signupForm.$invalid">
                                        Registruj korisnika
                                    </button>
                                </div>
                            </div>
                            </fieldset>

                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- /.page-content -->